@import url("https://fonts.googleapis.com/css2?family=Mooli&display=swap");

:root {
  --primary-color: #52489c;
  --secondary-color: #59c3c3;
  --accent-color: #f45b69;
  --text-dark: #333;
  --text-light: #ebebeb;
  --primary-font: Arial, Helvetica, sans-serif;
  --secondary-font: Mooli, sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--primary-font);
  font-size: 1.2em;
  color: var(--text-dark);
  background-color: white;
  line-height: 1.6;
}

header,
footer {
  background-color: var(--primary-color);
  color: var(--text-light);
  padding: 1rem;
  text-align: center;
}

h1, h2 {
  font-family: var(--secondary-font);
}

a:link,
a:visited {
  color: var(--accent-color);
}

#menu-button {
  background: none;
  border: none;
  color: var(--text-light);
  font-size: 1em;
  cursor: pointer;
}

main, h2 {
  text-align: center;
}

#main-nav ul {
  list-style: none;
  display: none;
  padding: 0;
}

#main-nav li {
  padding: 0.5em 0;
}

.gallery {
  display: grid;
  gap: 1rem;
  padding: 1rem;
  justify-content: center;
}

.gallery figure {
  margin: 0;
}

.gallery img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  margin: auto;
  border: 5px solid white;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.2);
}

footer {
  margin-top: 2rem;
}

@media screen and (min-width: 1000px) {
  .gallery {
    grid-template-columns: 3fr 3fr 3fr;
  }
}

@media screen and (min-width: 700px) and (max-width: 999px) {
  .gallery {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 699px) {
  .gallery {
    grid-template-columns: 1fr;
  }
}

#main-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#main-nav a {
  text-decoration: none;
  color: var(--text-light);
}

#menu-button {
  background: none;
  border: none;
  color: var(--text-light);
  font-size: 1.2em;
  cursor: pointer;
  padding: 0.5rem 1rem;
  display: block;
  margin: 0 auto;
}

@media screen and (max-width: 699px) {
  #main-nav {
    display: block;
    text-align: center;
  }

  #main-nav ul {
    display: block;
  }

  #main-nav ul li {
    padding: 0.5rem;
  }

  #menu-button {
    display: block;
  }
}

@media screen and (min-width: 700px) and (max-width: 999px) {
  #main-nav {
    display: none;
    text-align: center;
  }

  #main-nav.open {
    display: block;
  }

  #main-nav ul {
    display: block;
  }

  #main-nav ul li {
    padding: 0.5rem;
  }

  #menu-button {
    display: block;
    text-align: center;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1000px) {
  #menu-button {
    display: none;
  }

  #main-nav {
    display: block;
  }

  #main-nav ul {
    display: flex;
    justify-content: center;
    gap: 2rem;
  }

  #main-nav ul li {
    border: none;
  }
}

